.footer {
	grid-area: footer;
	display: flex;
	justify-content: space-between;
	padding-inline: 1.25rem;
	padding-block: 0.625rem;
	border-radius: 0.4rem;
	background: var(--secondary);
}

.footer-login,
.footer-info {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.footer-paragraph {
	margin: 0;
	color: #ffffff;
	font-family: inter-regular, sans-serif;
}